:root {
  font-family: 'Gloria Hallelujah', 'Pacifico', sans-serif;
  background-color: var(--bg-color);
  --font-family-accent: 'Gloria Hallelujah', 'Pacifico', sans-serif;
  --bg-color: #1d1e2c;
  --accent-color: #f7ebec;
  --accent-modules-color: #59656f;
  --accent-hover-color: #ac9fbb;
  --accent-extra-color: #ddbdd5;
}

* {
  box-sizing: border-box;
}
